<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
</head>
<body>
id :{{id}}
shangping :{{shangping}}
keyword :{{keyword}}
keywords :{{keywords}}
Specifications :{{Specifications}}

{% if user %}
   <li>name:{{user.name}}</li>
{% else %}
用户不存在
{% endif %}

{% for book in book_list %}
<li>{{book}}</li>
{% endfor %}

{% for k,v in user.items %}
<li>{{forloop.counter}}.{{k}}:{{v}}</li>
{% endfor %}

{% comment %}
<h1>hello {{user.name}}</h1>
<li>age:{{user.age}}</li>
<li>sex:{{user.sex}}</li>
<div>the {{user.name}} say: {{user.say}}</div>
<li>{{book_list.0}}</li>
<li>{{book_list.1}}</li>
<li>{{book_list.2}}</li>
<li>{{book_list.3}}</li>
{% endcomment %}

</body>
</html>